<!--<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Inventory Management</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          -<li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="product">Product</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"routerLink="updateproduct">UpdateProduct</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"routerLink="viewcoustomerorder">ViewCustomer</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"routerLink="stockproduct">StockProducts</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"routerLink="transferowner">TransferOwnership</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"routerLink="withdraw">WithDraw</a>
          </li>
      
        <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="customerpurchase">Customer Purchase</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"routerLink="cancelorder">Cancel Order</a>
        </li>
        
    </ul>
   
  </links>
</mdb-navbar>-->


<!--<app-home></app-home>-->
<app-admin></app-admin>
<app-customer></app-customer>

<router-outlet></router-outlet>
