
<main>
  <div class="container-fluid" style="margin-top: 70px; ">

      <div class="row">
          <div class="col-sm-4" >
              <form class="form-horizontal" [formGroup]="angForm" novalidate >
                <div>
                 <h5>Update Product Form</h5>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="productid">ProductId<font color="red">*</font></label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0" name="productid" [(ngModel)]="productid"  formControlName="productid" [value]="productid"  (focus)="check()" (focusout)="checkOut()" placeholder="Enter Product Id">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="quantity">Quantity<font color="red">*</font></label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" min="0" name="quantity" [(ngModel)]="quantity" formControlName="quantity" [value]="quantity"  placeholder="Enter Quantity">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Price<font color="red">*</font></label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" min="0" name="price" [(ngModel)]="price" formControlName="price" [value]="price" placeholder="Enter  Price">
                    </div>
                  </div>


                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                     <div *ngIf="angForm.controls['productid'].valid" >
                          <div *ngIf="angForm.controls['quantity'].valid"> 
                              <div *ngIf="angForm.controls['price'].valid">
                                  <button type="submit" (click)="Product();" class="btn btn-default">Update</button>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </form>
          </div>
          <div class="col-sm-6" >
              <div>
                  <h5>Out Of Stock Product Details</h5>
              </div>


<div class="ScrollStyle">
<!--Table-->
<table class="table">

  <!--Table head-->
  <thead class="mdb-color darken-3">
      <tr class="text-white">
         
          <th>Product Id</th>
          <th>ProductName</th>
          <th>Brand </th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      <tr *ngFor="let update of details;">
          <td >{{update.pid}}</td>
          <td >{{update.pname}}</td>
          <td >{{update.brand}}</td>
          <td>{{update.quantity}}</td>
          <td>{{update.price}}</td>
      </tr>
  </tbody>
  <!--Table body-->
</table>
<!--Table-->
</div>
          </div>
        </div>
      </div>

</main>
<ngx-spinner  bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
loadingText="Loading..."
type="ball-scale-multiple"></ngx-spinner>
